<form class="mb-0" name="contact" method="POST" netlify>
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" name="contact-name" id="name" placeholder="First Name:" required>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" name="contact-namel" id="name-last" placeholder="Last Name" required>
    </div>
    <div class="col-md-6">
      <input type="email" class="form-control" name="contact-email" id="email" placeholder="Email:" required>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" name="contact-phone" id="phone" placeholder="Phone:" required>
    </div>
    <div class="col-md-12">
      <textarea class="form-control" name="contact-message" id="message" rows="2" placeholder="Message" required></textarea>
    </div>
    <div class="col-md-12">
      <input type="submit" value="Send Message" name="submit" class="btn btn--secondary btn--block">
    </div>
  </div>
</form>
