<section id="page-title" class="page-title bg-overlay bg-overlay-dark">
	<div class="bg-section" >
		<img src="assets/images/page-title/title-13.jpg" alt="Background"/>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1>{{ include.title }}</h1>
						</div>
						<div class="title--desc">
							<p>League is a creative multi-concept WordPress theme perfectly designed to make awesome website for any business. </p>
						</div>
					</div>
					<div class="clearfix"></div>
					<ol class="breadcrumb">
						<li><a href="index-2.html">Home</a></li>
						<li class="active">about us</li>
					</ol>
				</div><!-- .title end -->
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #page-title end -->
