<section id="slider" class="slider slider-overlay-dark">
	<!-- START REVOLUTION SLIDER 5.0 -->
	<div class="rev_slider_wrapper">
		<div id="slider1" class="rev_slider"  data-version="5.0">
			<ul>
				<!-- slide 1 -->
				<li data-transition="zoomout"
					data-slotamount="default"
					data-easein="Power4.easeInOut"
					data-easeout="Power4.easeInOut"
					data-masterspeed="2000"
					data-thumb="{{" assets/images/sliders/thumb/home_1.jpg" | relative_url }}">
					<!-- MAIN IMAGE -->
					<img src="{{ "assets/images/sliders/slide-bg/home_1.jpg"| relative_url }}" alt="Slide Background Image"  width="1920" height="1280">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-130"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--subheadline">Advanced Energy Storage System</div>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-65"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="750"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						>
						<div class="slide--headline">Tank The Light</div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="20"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						>
						<div class="slide--bio text-center">Working as a rechargeable giant-battery of massive proportions  <br> to provide back-up energy, any time there is a power outage. </div>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption"

						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="100"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeOut;"
						data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_out="x:inherit;y:inherit;"
						data-start="1250"
						data-splitin="none"
						data-splitout="none"
						data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
						data-basealign="slide"
						data-responsive_offset="on"
						data-responsive="off">
						<div class="slide-action">
							<a class="btn btn--secondary btn--white mr-30" href="#">Learn More </a>
							<a class="btn btn--white btn--bordered" href="#">Contact Us</a>
						</div>
					</div>
				</li>

				<!-- slide 2 -->
				<li data-transition="zoomout"
					data-slotamount="default"
					data-easein="Power4.easeInOut"
					data-easeout="Power4.easeInOut"
					data-masterspeed="2000"
					data-thumb="{{"assets/images/sliders/thumb/home_2.jpg" | relative_url }}">
					<!-- MAIN IMAGE -->
					<img src="{{"assets/images/sliders/slide-bg/home_2.jpg"| relative_url }}" alt="Slide Background Image"  width="1920" height="1280">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-130"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--subheadline">Emissions-Free.</div>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-65"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="750"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						>
						<div class="slide--headline">Sealed  Batteries</div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="20"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						>
						<div class="slide--bio text-center">Our batteries are sealed for their chemistry requires <br>no breathing or relieving valves because they generate no emissions. </div>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption"

						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="100"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeOut;"
						data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_out="x:inherit;y:inherit;"
						data-start="1250"
						data-splitin="none"
						data-splitout="none"
						data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
						data-basealign="slide"
						data-responsive_offset="on"
						data-responsive="off">
						<div class="slide-action">
							<a class="btn btn--white btn--bordered" href="#">Learn More</a>
						</div>
					</div>
				</li>

				<!-- slide 3 -->
				<li data-transition="zoomout"
					data-slotamount="default"
					data-easein="Power4.easeInOut"
					data-easeout="Power4.easeInOut"
					data-masterspeed="2000"
					data-thumb="{{ "assets/images/sliders/thumb/home_3.jpg" | relative_url }}">
					<!-- MAIN IMAGE -->
					<img src="{{ "assets/images/sliders/slide-bg/home_3.jpg" | relative_url }}" alt="Slide Background Image"  width="1920" height="1280">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-130"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--subheadline">Solar Panels</div>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-65"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="750"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						>
						<div class="slide--headline" style="margin-top:40px;"><center>Power Generator <br>Of Any Kind</center></div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="20"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						>
						<div class="slide--bio text-center" style="margin-top:70px;">TankDeLight can be charged directly from the grid 110-112V AC or Solar Panels.<br>It can also be charged through a power generator of any kind. </div>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption"

						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="100"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeOut;"
						data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_out="x:inherit;y:inherit;"
						data-start="1250"
						data-splitin="none"
						data-splitout="none"
						data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
						data-basealign="slide"
						data-responsive_offset="on"
						data-responsive="off">
						<div class="slide-action" style="margin-top:70px;">
							<a class="btn btn--secondary btn--white mr-30" href="#">Learn More </a>
							<a class="btn btn--white btn--bordered" href="#">Contact Us</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- END REVOLUTION SLIDER -->
	</div>
	<!-- END OF SLIDER WRAPPER -->
</section>
