---
layout: default
---


{% include hero.html title="Blog"  img="blog.jpg" %}

<section id="blog" class="blog blog-grid">
	<div class="container">
		<div class="row">
			<!-- Blog Entry #1 -->
      {% for post in site.posts %}
      {% assign author = site.data.authors[post.author] %}
			  <div class="col-xs-12 col-sm-6 col-md-4">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="{{ post.url }}">
							<img src="{{ post.image }}" alt="entry image"/>
						</a>
					</div>
					<div class="entry--content">
						<div class="entry--format">
							<i class="fa fa-image"></i>
						</div>
						<div class="entry--meta">
							<span><a href="{{ post.url }}">{{ post.categories }}</a></span>
						</div>
						<div class="entry--title">
							<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
						</div>
						<div class="entry--bio">
							{{ post.excerpt | strip_newlines | truncate: 180 }}
						</div>
						<div class="entry--footer">
							<div class="entry--date">
								{{ post.date | date_to_string }}
							</div>
							<div class="entry--more">
								<a href="{{ post.url }}"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
							</div>
						</div>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .blog-entry end -->
			</div>
      {% endfor %}
			<!-- .col-md-4 end -->
    </div>
		<!-- .row end -->
		<!-- <div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 clearfix mt-20 text--center">
				<ul class="pagination">
					<li class="active"><a href="#">1</a>
					</li>
					<li><a href="#">2</a>
					</li>
					<li><a href="#">3</a>
					</li>
					<li>
						<a href="#" aria-label="Next">
            <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
            </a>
					</li>
				</ul>
			</div>
			<!-- .col-md-12 end -->
		</div> -->
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>






<!-- <section>

  <h3>Posts</h3>

  <ul>
    {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
      <li>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <time datetime="{{ post.date }}">
          <small>
            <strong>{{ post.date | date_to_string }}</strong>
            {% if author %}
              by {{ author.name }}
            {% endif %}
          </small>
        </time>
        {{ post.excerpt | strip_newlines | truncate: 180 }}
      </li>
    {% endfor %}
  </ul>

</section> -->
