---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>
    <div class="preloader">
    	<div class="spinner">
    	  <div class="bounce1"></div>
    	  <div class="bounce2"></div>
    	  <div class="bounce3"></div>
    	</div>
    </div>
    <div id="wrapper" class="wrapper clearfix">

      {% include header.html %}


      {{ content }}


      {% include footer.html %}

    </div><!-- #wrapper end -->

   <!-- Footer Scripts
   ============================================= -->
   <script src="{{ "assets/js/jquery-2.2.4.min.js"| relative_url }}"></script>
   <script src="{{ "assets/js/plugins.js"| relative_url }}"></script>
   <script src="{{ "assets/js/functions.js"| relative_url }}"></script>
   <!-- RS5.0 Core JS Files -->
   <script type="text/javascript" src="{{ "assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0" | relative_url }}"></script>
   <script type="text/javascript" src="{{ "assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0" | relative_url }}"></script>
   <script type="text/javascript" src="{{ "assets/revolution/js/extensions/revolution.extension.video.min.js"| relative_url }}"></script>
   <script type="text/javascript" src="{{ "assets/revolution/js/extensions/revolution.extension.slideanims.min.js"| relative_url }}"></script>
   <script type="text/javascript" src="{{ "assets/revolution/js/extensions/revolution.extension.actions.min.js"| relative_url }}"></script>
   <script type="text/javascript" src="{{ "assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"| relative_url }}"></script>
   <script type="text/javascript" src="{{ "assets/revolution/js/extensions/revolution.extension.kenburn.min.js"| relative_url }}"></script>
   <script type="text/javascript" src="{{ "assets/revolution/js/extensions/revolution.extension.navigation.min.js"| relative_url }}"></script>
   <script type="text/javascript" src="{{ "assets/revolution/js/extensions/revolution.extension.migration.min.js"| relative_url }}"></script>
   <script type="text/javascript" src="{{ "assets/revolution/js/extensions/revolution.extension.parallax.min.js"| relative_url }}"></script>
   <!-- RS Configration JS Files -->
   <script src="{{ "assets/js/rsconfig.js" | relative_url }}"></script>

  </body>

</html>
