---
layout: default
---

{% include hero.html  title="Our Technology" img="our.jpg" %}

<!-- About #2
============================================= -->
<section id="about2" class="about bg-white">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="heading heading-2 mb-50 text--center">
					<h2 class="heading--title heding--center">Maximum Quality Standards</h2>
					<div class="divider--line divider--center"></div>
				</div>
			</div><!-- .col-md-8 end -->
		</div><!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<p class="mb-0">
					We have specialized in designing Advanced Energy Storage Systems (AESS)
					specifically to meet the needs of developing nations.
				</p>
				<br>
				<p class="mb-0">
					Hitherto, no other company has worked in designing Systems to help
					people power their homes and businesses during power outages,
					like the ones in third-world countries.
				</p>
				<br>
				<p class="mb-0">
					Every other Energy Storage System in the market place was designed
					with First-World needs in mind, generally intended to provide back-up
					power to homes and buildings using solar panels as an energy source.
					Hence, these systems were designed to be charged using low-voltage
					Direct Current (DC).  TankDeLight instead, can be charged directly
					from the Grid using high voltage Alternate Current (AC).  However, our
					systems are equipped so that they can take charge from any energy source
					(AD or DC); Solar, Power Generators, Windmills, and the Grid.
				</p>
			</div><!-- .col-md-6 end -->
			<div class="col-xs-12 col-sm-12 col-md-6">
				<p class="mb-0">
					When the AESS detects a power failure, it takes over, switching instantly
					 in an unnoticeable manner and start providing energy from its storage.
					 It switches so fast, the only way to notice is through the beeping
					 alarm that activates once the system starts giving energy.
					 This beep will last for a few seconds, just to let you know of a power
					 failure and to warn you that the energy being used comes from the AESS.
				</p>
				<br>
				<p class="mb-0">
					Our systems will provide back up energy to as many circuits as the customer
					decides. However, we recommend its use primarily for critical circuits,
					avoiding any inductive loads such as electric heaters, stoves, dryers, etc.
				</p>
			</div>
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>

<!-- Info Box #1
============================================= -->
<section id="info1" class="info-box pt-0 pb-0 bg-theme box-info">
	<div class="container-fluid">
		<div class="row comm-height">
			<div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
				<h3>Risk-Free From Explosions.</h3>
				<p>
					You do not have to worry. Older technology batteries were indeed very explosive.
					Using old technology batteries was very risky for any puncture -however small-,
					could trigger a nasty explosion. However, our systems were designed with
					the most advanced cutting-edge batteries technology available in the market;
					therefore, they are not explosive. Our Lithium-Ion (LiFeMnPO4) batteries
					can be subjected to hits, punctures and smash of any kind risk-free from
					explosions.
				</p>
				<a class="btn btn--white" href="#">Learn More</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
				<div class="bg-overlay">
					<div class="bg-section">
						<img src="assets/images/banners/1.jpg" alt="Background"/>
					</div>
					<!-- <div class="pos-vertical-center ">
						<div class="video--player text--center">
						<a class="popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
							<i class="icon icon-Play"></i> play video!
						</a>
					</div> -->
					</div>
				</div>
			</div><!-- .col-md-6 end-->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #info1 end -->

<!-- Info Box #9
============================================= -->
<section id="info9" class="info-box pt-0 pb-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-img p-0">
				<div class="col-img bg-overlay">
					<div class="bg-section">
						<img src="assets/images/banners/5.jpg" alt="Background"/>
					</div>
				</div>
			</div><!-- .col-md-6 end-->
			<div class="col-xs-12 col-sm-12 col-md-3 col-content info-box-small bg-dark3">
				<h6>Plug-and-Play System</h6>
				<h3>Simple Life</h3>
				<p>SL: an acronym for "Simple Life," which is a Plug-and-Play System that
					does not require installation. This system is intended to serve small
					homes and spaces with a limited energy need.  This system is good enough
					to power your Refrigerator plus a few additional electronics or appliances.
					Think of it as a large-scale Power Bank, which you plug-in for charging
					 and once charged you plug your devices into it.
				 </p>
				<a class="btn btn--white" href="#">read more</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-content info-box-small bg-dark2">
				<h6>Certified Electrician</h6>
				<h3>Professional Instalation</h3>
				<p>PI: an acronym for "Professional Instalation," which is a System that
					 does require installation by a certified electrician. These systems are
					  intended to serve more significant energy needs, and they are good
						enough to power larger loads for more extended periods.
					</p>
				<a class="btn btn--white" href="#">read more</a>
			</div>
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #info9 end -->

<!-- Testimonial #2
============================================= -->
<section id="testimonia2" class="testimonial testimonial-wide testimonial-2 bg-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
				 <div id="testimonial-wide" class="carousel carousel-dots" data-slide="1" data-slide-rs="1" data-slide-rs="1" data-autoplay="false" data-nav="false" data-dots="true" data-space="0" data-loop="true" data-speed="800">
					<!-- Testimonial #1 -->
					<div class="testimonial-panel">
					<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>My project was a simple & small task, but the persistence and determination of the team turned it into an awesome and great project which make me very happy!</p>
						</div><!-- .testimonial-body end -->

						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/1.png" alt="Testimonial Author">
							</div>
							<h4>Mahmoud Baghagho</h4>
							<p>7oroof Agency</p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->

					<!-- Testimonial # -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>My project was a simple & small task, but the persistence and determination of the team turned it into an awesome and great project which make me very happy!</p>
						</div><!-- .testimonial-body end -->

						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/2.png" alt="Testimonial Author">
							</div>
							<h4>ayman fikry</h4>
							<p>zytheme</p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->

					<!-- Testimonial #1 -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>My project was a simple & small task, but the persistence and determination of the team turned it into an awesome and great project which make me very happy!</p>
						</div><!-- .testimonial-body end -->

						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/3.png" alt="Testimonial Author">
							</div>
							<h4>Fouad badawy</h4>
							<p>Tie Labs Inc</p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->


					<!-- Testimonial #1 -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>My project was a simple & small task, but the persistence and determination of the team turned it into an awesome and great project which make me very happy!</p>
						</div><!-- .testimonial-body end -->
						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/4.png" alt="Testimonial Author">
							</div>
							<h4>Mostafa Mabrook</h4>
							<p>Code 125</p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->
				</div>
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #testimonial2 end -->

<!-- Team #3
============================================= -->
<section id="team3" class="team team-overlay team-3 pt-0 pb-0">
	<div class="container-fluid pr-0 pl-0">
		<div class="row">
			<!-- Member #1 -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="member">
					<div class="member-img">
						<img src="assets/images/team/full/1.jpg" alt="member"/>
						<div class="member-overlay">
							<div class="member-social">
								<div class="member-data">
									<div class="member-info">
										<h5>Ahmed Abd Alhaleem</h5>
										<h6>Graphic Designer</h6>
									</div><!-- .member-info end -->
									<div class="member-social-links">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
									</div>
							</div>
						</div><!-- .memebr-ovelay end -->
					</div><!-- .member-img end -->

				</div><!-- .member end -->
			</div><!-- .col-md-3 end -->

			<!-- Member #2 -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="member">
					<div class="member-img">
						<img src="assets/images/team/full/2.jpg" alt="member"/>
						<div class="member-overlay">
							<div class="member-social">
								<div class="member-data">
									<div class="member-info">
										<h5>Ahmed Hassan</h5>
										<h6>Web Developer</h6>
									</div><!-- .member-info end -->
									<div class="member-social-links">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div><!-- .memebr-ovelay end -->
					</div><!-- .member-img end -->
				</div><!-- .member end -->
			</div><!-- .col-md-3 end -->

			<!-- Member #3 -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="member">
					<div class="member-img">
						<img src="assets/images/team/full/3.jpg" alt="member"/>
						<div class="member-overlay">
							<div class="member-social">
								<div class="member-data">
									<div class="member-info">
										<h5>Mohamed Habaza</h5>
										<h6>Lead Dev Ops</h6>
									</div><!-- .member-info end -->
									<div class="member-social-links">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div><!-- .memebr-ovelay end -->
					</div><!-- .member-img end -->
				</div><!-- .member end -->
			</div><!-- .col-md-3 end -->

			<!-- Member #4 -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="member">
					<div class="member-img">
						<img src="assets/images/team/full/4.jpg" alt="member"/>
						<div class="member-overlay">
							<div class="member-social">
								<div class="member-data">
									<div class="member-info">
										<h5>Amr Gamal Sadeq</h5>
										<h6>Design expert</h6>
									</div><!-- .member-info end -->
									<div class="member-social-links">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div><!-- .memebr-ovelay end -->
					</div><!-- .member-img end -->
				</div><!-- .member end -->
			</div><!-- .col-md-3 end -->
		</div>
	</div>
</section><!-- #team3 end  -->
