---
layout: default
---

{% include hero.html  title="SL-3KW" img="qa.jpg" %}

<section id="product" class="shop shop-product bg-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12  col-md-6">
				<div class="product-img mb-50">
					<img class="img-responsive" src="/assets/images/products/product_battery.png" alt="product image">
				</div><!-- .product-img end -->
			</div><!-- .product-item end -->
			<div class="col-xs-12 col-sm-12  col-md-6">
				<div class="product-title">
					<h3>SL-3KW</h3>
				</div><!-- .product-title end -->
				<div class="product-meta mb-30">
						<!-- <div class="product-price pull-left pull-none-xs">
							$ 18.99
						</div> -->
						<!-- .product-price end -->
						<div class="product-review text-right text-center-xs">
							<span class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
							<i class="fa fa-star-o"></i>
							</span>
						</div>
						<!--- .product-review end -->
				</div>
				<div class="product-desc">
					<p>Lorem ipsum dolor sit amet, mauris suspendisse viverra eleifend
						tortor tellus suscipit, tortor aliquet at nulla mus, dignissim neque,
						 nulla neque. Ultrices proin mi urna nibh ut, aenean sollicitudin
						 etiam libero nisl, ultrices ridiculus in magna purus consequuntur,
						 ipsum donec orci ad vitae pede, id odio.
					 </p>
					 <div class="product-cta text-left text-center-xs">
						 <a class="btn btn--primary" href="#">Buy</a>
					 </div>
				</div><!-- .product-desc end -->
				<hr>
			</div>
		</div><!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="product-tabs">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">description</a></li>
						<li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">details</a></li>
						<li role="presentation"><a href="#measurements" aria-controls="measurements" role="tab" data-toggle="tab">Measurements</a></li>
						<li role="presentation"><a href="#use_guide" aria-controls="use_guide" role="tab" data-toggle="tab">Use Guide</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="description">
							<p>Lorem ipsum dolor sit amet, mauris suspendisse viverra eleifend tortor tellus suscipit, tortor aliquet at nulla mus, dignissim neque, nulla neque. Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum donec orci ad vitae pede, id odio.</p>
							<p>Lorem ipsum dolor sit amet, mauris suspendisse viverra eleifend tortor tellus suscipit, tortor aliquet at nulla mus, dignissim neque, nulla neque. Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum donec orci ad vitae pede, id odio.</p>
						</div>
						<!-- #description end -->
						<div role="tabpanel" class="tab-pane" id="details">
							<h5>Technical Details</h5>
							<table class="table table-striped">
								<tbody>
									<tr>
										<td>Part Number</td>
										<td>60-MCTE</td>
									</tr>
									<tr>
										<td>Item Weight</td>
										<td>54 pounds</td>
									</tr>
									<tr>
										<td>Product Dimensions</td>
										<td>92.8 x 92.8 x 92.8 inches</td>
									</tr>
									<tr>
										<td>Item model number</td>
										<td>60-MCTE</td>
									</tr>
									<tr>
										<td>Item Package Quantity</td>
										<td>1</td>
									</tr>
									<tr>
										<td>Number of Handles</td>
										<td>1</td>
									</tr>
									<tr>
										<td>Batteries Required?</td>
										<td>No</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- #details end -->
						<div role="tabpanel" class="tab-pane" id="measurements">
							<h5>Measurements</h5>
							<li>Product : <span>SEO Book</span></li>
							<li>Code : <span>#0214</span></li>
							<li>Availabiltity : <span>Available</span></li>
							<li>Brand : <span>Book</span></li>
						</div>
						<div role="tabpanel" class="tab-pane" id="use_guide">
							<p>Lorem ipsum dolor sit amet, mauris suspendisse viverra eleifend
								 tortor tellus suscipit, tortor aliquet at nulla mus, dignissim
								 neque, nulla neque. Ultrices proin mi urna nibh ut, aenean
								 sollicitudin etiam libero nisl, ultrices ridiculus in
								  magna purus consequuntur, ipsum donec orci ad
									vitae pede, id odio.</p>
						</div>
					</div>
					<!-- #tab-content end -->
				</div><!-- .product-tabs end -->
			</div>

		</div>
	</div><!-- .container end -->
</section><!-- #product end -->
